---
import BaseLayout from '../layouts/BaseLayout.astro'
import Navbar from '../components/Navbar.astro'
---

<BaseLayout>
  <Navbar />
  <header class='text-center py-20'>
    <h1 class='text-4xl font-bold text-redPinstripe'>Welcome to Wicomoforge</h1>
    <p class='mt-4 text-lg'>
      Custom-made bespoke railings, gates, furniture, and sculptures.
    </p>
  </header>
  <main class='py-10'>
    <section class='text-center'>
      <h2 class='text-3xl font-semibold'>Our Artwork</h2>
      <p class='mt-2 text-gray-600'>
        Explore our wide range of handmade metalworks and custom art.
      </p>
      <div class='grid grid-cols-1 md:grid-cols-3 gap-6 mt-6 px-6'>
        <div class='p-4 border border-gray-200 rounded-md shadow-sm'>
          <h3 class='text-xl font-bold'>Railings</h3>
          <p class='text-gray-500'>Beautifully crafted for your space.</p>
        </div>
        <div class='p-4 border border-gray-200 rounded-md shadow-sm'>
          <h3 class='text-xl font-bold'>Gates</h3>
          <p class='text-gray-500'>Sturdy and custom-designed.</p>
        </div>
        <div class='p-4 border border-gray-200 rounded-md shadow-sm'>
          <h3 class='text-xl font-bold'>Furniture</h3>
          <p class='text-gray-500'>Unique pieces for your home.</p>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
